<% layout("layouts/boilerplate") %>

<div class="map-items mb-3">
    <div id="cluster-map"></div>
    <div id="menu" class="mb-3">
        <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
        <!-- See a list of Mapbox-hosted public styles at -->
        <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
        <label for="satellite-streets-v12">satellite streets</label>
        <input id="light-v11" type="radio" name="rtoggle" value="light">
        <label for="light-v11">light</label>
        <input id="dark-v11" type="radio" name="rtoggle" value="dark">
        <label for="dark-v11">dark</label>
        <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
        <label for="streets-v12">streets</label>
        <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
        <label for="outdoors-v12">outdoors</label>
    </div>
</div>

<% if (!searchPattern) { %>
    <h1>All Campgrounds</h1>
<% } else { %>
    <% const noun = campgrounds.length === 1 ? "result" : "results" %>
    <h1><%= `"${searchPattern}" Campgrounds - ${campgrounds.length} ${noun}`%></h1>
<% } %>

<form action="/campgrounds" method="GET">
    <div class="input-group mb-3 rounded-pill">
        <input type="text" class="form-control border border-end-0 rounded-start-pill" name="search" placeholder="Search for a campground" aria-label="Search for a campground" aria-describedby="campground-search-button">
        <button type="submit" class="btn border border-start-0 rounded-end-circle btn-outline-secondary" id="campground-search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </div>
</form>

<% for (let campground of campgrounds) { %>
    <div class="card  overflow-hidden mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images && campground.images.length) { %> 
                    <img crossorigin="anonymous" class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                <% } else { %>
                    <img crossorigin="anonymous" src="https://placehold.co/600x400" class="img-fluid" alt="Responsive image">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>
<script src="/js/clusterMap.js"></script>